<div class="sidebar">

    <p class="bar_links">
        <%= link_to 'Home', posts_path %> | 
        <%= link_to 'New Post', new_post_path %> | 
        <%= link_to 'about', about_index_path %>
    </p>
    <p class="bar_header"><%= link_to 'Anon Blog', root_path %></p>
    
</div>