<div class="sidebar">

    <p class="bar_links">
        <%= link_to 'Home', posts_path, {:style => 'color:#CCFFFF;'} %> | 
        <%= link_to 'New Post', new_post_path, {:style => 'color:#CCFFFF;'} %> | 
        <%= link_to 'about', about_index_path, {:style => 'color:#CCFFFF;'} %>
    </p>
    <p class="bar_header"><%= link_to 'Anon Blog', root_path, {:style => 'color:#CCFFFF;'} %></p>
    
</div>