

<body class="posts_body">
<div class="content">

    <div class="posts_column">
        <% @posts.each do |post| %>
        <div class="blog_post">
            <p id="post_title"><%= post.title.capitalize %></p>
            <% if (post.body.length > 55) then %>
                 <%= simple_format("#{post.body[0,40].strip}... #{link_to '<Read More>',post,{:style =>'color:#CCFFFF;'}}") %> 
            <% else %>
                <p> <%= simple_format(post.body.strip) %> </p>
            <%end%>

        </div>
        <% end %>
    </div>


</div>
</body>

<%= render 'sidebar' %>