
<div class="content">
    <body class="show_page" >
        <div class="show_body">

            <p id="notice"><%= notice %></p>

            <p class="show_post_title">
              <%= @post.title.capitalize %>
            </p>

            <p class="show_post_body">
              <%= simple_format(@post.body,{:style => 'color:#E0E0E0; font-family:monospace;font-size:14pt;'}) %>
            </p>
        </div>
    </body>
</div>

<%= render 'sidebar' %>