<h1>About Page</h1>


<div>

    <p>The soul purpose of this website is to give anyone and everyone a way to vent there problems in an anonymous blog post. You can write whatever you want, to the world, and no one will ever know it was you. I hope you get to express yourself to the fulliest!</p>

</div>
<%= link_to 'Home', posts_path %>

